.contact__container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  height: 80%;
}

.contact__socials {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5rem;
}

.contact_form {
  flex: 2;
  display: flex;
  flex-direction: column;
  margin-top: auto;
  margin-bottom: auto;
}

.contact__container h1 {
  text-align: center;
}

.label {
  padding-top: 1rem;
}

.name {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contact_details {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

input {
  padding: 0.5rem;
  border-bottom: 0.2rem solid black;
  height: 3rem;
  margin-right: 1rem;
  background-color: transparent;
  color: var(--color-light);
}

.email {
  width: 100%;
}

textarea {
  padding: 0.5rem;
  width: 100%;
  height: 5rem;
  resize: none;
  background-color: transparent;
  border-bottom: 0.2rem solid black;
  color: var(--color-light);
}

.submit_btn {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
}

#contact h4 {
  text-align: center;
  color: var(--color-light);
}

@media screen and (max-width: 750px) {
  #contact {
    height: auto;
  }
  .contact__container {
    display: grid;
    grid-template-columns: 1fr;
  }

  .name {
    display: grid;
    grid-template-columns: 1fr;
  }
  .contact_img {
    display: none;
  }
  .contact__links {
    display: none;
  }
}

@media screen and (min-width: 1080px) {
  #contact {
    height: 100vh;
  }
}
