.experiencetabs__container {
  display: grid;
  grid-template-columns: 1fr 2.5fr;
}

.tabs {
  width: 20rem;
  padding: 1rem 1.2rem;
  cursor: pointer;
  color: white;
  background-color: transparent;
  color: var(--color-light);
  border-left: 2px solid rgba(255, 255, 255, 0.5);
}

.tabs:hover {
  background-color: rgba(255, 255, 255, 0.05);
  color: var(--color-primary);
}

.active-tabs {
  border-left: 2px solid var(--color-primary);
  background-color: transparent;
  color: var(--color-primary);
}

.content {
  display: none;
}

.active-content {
  display: block;
}

.desc-list ul {
  list-style: none;
}

.desc-list li {
  color: var(--color-light);
  position: relative;
  padding-left: 1.5em;
}

.desc-list li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.5em;
  width: 0;
  height: 0;
  border-top: 0.4em solid transparent;
  border-right: 0.5em solid var(--color-primary);
  border-bottom: 0.4em solid transparent;
  transform: rotate(-180deg);
}
