#works {
  margin-top: 8rem;
  height: 100vh;
}

.swiper-slide {
  background-size: cover;
}

span.tech {
  background-color: var(--color-bg-variant);
  color: var(--color-primary-variant);
  padding: 0.3rem;
  border-radius: 0.4rem;
  margin: 0.2rem;
}
.project-details {
  height: 60vh;
}

.tech_items {
  align-items: center;
  justify-content: center;
  display: flex;
}

.site_links {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.site_links a {
  color: var(--color-light);
  margin: 0.2rem;
}

.site_links a:hover {
  color: var(--color-primary);
}

.modal_img img {
  max-height: 20rem;
}

@media screen and (max-width: 1080px) {
  .indiv__project {
    display: grid;
    grid-template-columns: 1fr;
  }
}
