#works {
  margin-top: 8rem;
}

#works h2,
#works h3,
#works h4 {
  text-align: center;
}

.sub__projects img {
  height: 60%;
}

span.tech {
  background-color: var(--color-bg-variant);
  color: var(--color-primary-variant);
  padding: 0.3rem;
  border-radius: 0.4rem;
  margin: 0.2rem;
}

.tech_items {
  align-items: center;
  justify-content: center;
  display: flex;
}

.projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 0.5rem;
}

.sub__projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.5rem;
}

.site_links {
  display: flex;
  justify-content: center;
}

.site_links a {
  color: var(--color-light);
  margin: 0.2rem;
}

.site_links a:hover {
  color: var(--color-primary);
}

.modal_img img {
  max-height: 20rem;
}

@media screen and (max-width: 1080px) {
  .projects,
  .sub__projects {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 1080px) {
  #works {
    height: 100vh;
  }
}
